<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <div id="content">
        <ul id="messages">
        </ul>
        <form id="form" action="">
            <input id="input" autocomplete="off" /><button id="submitBtn">Send</button>
        </form>
    </div>
</body>

<%- include('./partials/footer') %>
</html>