<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<link rel="stylesheet" type="text/css" href="/css/home.css">

<body>

    <!-- First Navigation -->
    <nav class="navbar nav-first navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/imgs/navbar-brand.png" alt="Enigma logo">
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary" href="https://github.com/techemmy">Visit Creator</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End of First Navigation -->
    <!-- Second Navigation -->
    <nav class="nav-second navbar custom-navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#service">Our Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testmonial">Testmonials</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/chat" class="btn btn-primary btn-sm">Get Started</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Second Navigation -->
    <!-- Page Header -->
    <header class="header" id="home">
        <div class="overlay">
            <img src="assets/imgs/enigma-logo.png" class="logo" style="width: 300px">
            <h1 class="subtitle">Welcome To Our Restaurant</h1>
            <h1 class="title">Really Fresh &amp; Tasty</h1>
            <a class="btn btn-primary mt-3" href="/chat">Order Now</a>
        </div>
    </header>
    <!-- End Of Page Header -->

    <!-- Service Section -->
    <section id="service" class="pattern-style-4">
        <div class="container">
            <h6 class="section-subtitle text-center">Featured Food</h6>
            <h3 class="section-title mb-6 pb-3 text-center">Special Dishes</h3>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <a class="custom-list">
                        <div class="img-holder">
                            <img src="assets/imgs/dish-1.jpg">
                        </div>
                        <div class="info">
                            <div class="head clearfix">
                                <h5 class="title float-left">Aperiam incidunt dicta</h5>
                                <p class="float-right text-primary">$25</p>
                            </div>
                            <div class="body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing Eos, earum dicta est veniam beatae libero!</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mb-4">
                    <a class="custom-list">
                        <div class="img-holder">
                            <img src="assets/imgs/dish-2.jpg">
                        </div>
                        <div class="info">
                            <div class="head clearfix">
                                <h5 class="title float-left">Facere molestiae quaerat</h5>
                                <p class="float-right text-primary">$35</p>
                            </div>
                            <div class="body">
                                <p>Voluptatem voluptate ad fugit aliquam, laboriosam neque vero incidunt itaque.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mb-4">
                    <a class="custom-list">
                        <div class="img-holder">
                            <img src="assets/imgs/dish-3.jpg">
                        </div>
                        <div class="info">
                            <div class="head clearfix">
                                <h5 class="title float-left">Veniam Beatae Libero</h5>
                                <p class="float-right text-primary">$18</p>
                            </div>
                            <div class="body">
                                <p>Accusamus libero quo tempore suscipit molestias qui quam illo facere aspernatur esse! Doloribus?</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mb-4">
                    <a class="custom-list">
                        <div class="img-holder">
                            <img src="assets/imgs/dish-4.jpg">
                        </div>
                        <div class="info">
                            <div class="head clearfix">
                                <h5 class="title float-left">Incidunt Eius</h5>
                                <p class="float-right text-primary">$30</p>
                            </div>
                            <div class="body">
                                <p>Doloremque maiores tempore, nostrum rerum nihil distinctio expedita voluptates eos deserunt.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mb-4">
                    <a class="custom-list">
                        <div class="img-holder">
                            <img src="assets/imgs/dish-5.jpg">
                        </div>
                        <div class="info">
                            <div class="head clearfix">
                                <h5 class="title float-left">Nihil dDstinctio</h5>
                                <p class="float-right text-primary">$24</p>
                            </div>
                            <div class="body">
                                <p>Doloremque maiores tempore, nostrum rerum expedita incidunt eius voluptates eos deserunt.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mb-4">
                    <a class="custom-list">
                        <div class="img-holder">
                            <img src="assets/imgs/dish-6.jpg">
                        </div>
                        <div class="info">
                            <div class="head clearfix">
                                <h5 class="title float-left">Dignissimos quidem</h5>
                                <p class="float-right text-primary">$44</p>
                            </div>
                            <div class="body">
                                <p>Doloremque maiores tempore, nostrum rerum nihil distinctio expedita voluptates eos deserunt.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Featured Food Section -->

    <!-- Menu Section -->
    <section class="has-img-bg">
        <div class="container">
            <h6 class="section-subtitle text-center">Great Food</h6>
            <h3 class="section-title mb-6 text-center">Main Menu</h3>
            <div class="card bg-light">
                <div class="card-body px-4 pb-4 text-center">
                    <div class="row text-left">
                        <div class="col-md-6 my-4">
                            <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        Dolorem Exmaiores
                                        <p class="mt-1 mb-0">Numquam dolor dolores molestiae maiores quidem.</p>
                                    </div>
                                    <h6 class="float-right text-primary">$12</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 my-4">
                            <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        Aperiam incidunt dicta
                                        <p class="mt-1 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                    <h6 class="float-right text-primary">$23</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 my-4">
                            <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        Animi repellat labore
                                        <p class="mt-1 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                    <h6 class="float-right text-primary">$32</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 my-4">
                            <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        Quo ipsum similique
                                        <p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                    <h6 class="float-right text-primary">$17</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 my-4">
                            <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        Est nam tempore
                                        <p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                    <h6 class="float-right text-primary">$21</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 my-4">
                            <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        Nesciunt ab veniam
                                        <p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                    <h6 class="float-right text-primary">$10</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a href="/chat" class="btn btn-primary mt-4">Chat with us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Menu Section -->


    <!-- Testmonial Section -->
    <section id="testmonial" class="pattern-style-3">
        <div class="container">
            <h6 class="section-subtitle text-center">Best Clients</h6>
            <h3 class="section-title mb-5 text-center">Testmonials</h3>

            <div class="row">
                <div class="col-md-4 my-3 my-md-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center mb-3">
                                <img class="mr-3" src="assets/imgs/avatar.jpg">
                                <div class="media-body">
                                    <h6 class="mt-1 mb-0">John Doe</h6>
                                    <small class="text-muted mb-0">Full Stack Engineer</small>
                                </div>
                            </div>
                            <p class="mb-0">Uh! The taste is truly hard to describe. Very sweet. I can't wait for a physical structure now</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3 my-md-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center mb-3">
                                <img class="mr-3" src="assets/imgs/avatar-1.jpg">
                                <div class="media-body">
                                    <h6 class="mt-1 mb-0">Maria Garcia</h6>
                                    <small class="text-muted mb-0">Real Estate Agent</small>
                                </div>
                            </div>
                            <p class="mb-0">This has got to be the most yummy pizza i've ever eaten. I can't do without it in a day</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3 my-md-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center mb-3">
                                <img class="mr-3" src="assets/imgs/avatar-2.jpg">
                                <div class="media-body">
                                    <h6 class="mt-1 mb-0">Foo Bar</h6>
                                    <small class="text-muted mb-0">Residential Appraiser</small>
                                </div>
                            </div>
                            <p class="mb-0">Ohh! What is Domino's. I'm going to be ordering everyday from Enigma now.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Testmonial Section -->

    <!-- Prefooter Section  -->
    <div class="py-4 border border-lighter border-bottom-0 border-left-0 border-right-0 bg-dark">
        <div class="container">
            <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-3 text-md-left mb-3 mb-md-0">
                    <img src="assets/imgs/navbar-brand.png" width="100" class="mb-0">
                </div>
                <div class="col-md-9 text-md-right">
                    <a href="#https://www.linkedin.com/in/oloyede-emmanuel/" class="px-3"><small class="font-weight-bold">LinkedIn</small></a>
                    <a href="https://twitter.com/iTechEmmy" class="px-3"><small class="font-weight-bold">Twitter</small></a>
                    <a href="https://www.youtube.com/@techemmy" class="px-3"><small class="font-weight-bold">YouTube</small></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of PreFooter Section -->

    <!-- Page Footer -->
    <footer class="border border-dark border-left-0 border-right-0 border-bottom-0 p-4 bg-dark">
        <div class="container">
            <div class="row align-items-center text-center text-md-center">
                <div class="col">
                    <p class="mb-0 small">&copy; <script>document.write(new Date().getFullYear())</script>, All rights reserved </p>
                </div>
            </div>
        </div>

    </footer>

</body>
<%- include('./partials/footer') %>
</html>