<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<link rel="stylesheet" type="text/css" href="/css/home.css">

<body>

    <!-- First Navigation -->
    <nav class="navbar nav-first navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/imgs/navbar-brand.png" alt="Enigma logo">
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary" href="https://github.com/techemmy">Visit Creator</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End of First Navigation -->
    <!-- Second Navigation -->
    <nav class="nav-second navbar custom-navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#service">Our Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testmonial">Testimonials</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/chat" class="btn btn-primary btn-sm">Get Started</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Second Navigation -->
    <!-- Page Header -->
    <header class="header" id="home">
        <div class="overlay">
            <img src="assets/imgs/enigma-logo.png" class="logo" style="width: 300px">
            <h1 class="subtitle">Welcome To Our Restaurant</h1>
            <h1 class="title">Really Fresh &amp; Tasty</h1>
            <a class="btn btn-primary mt-3" href="/chat">Order Now</a>
        </div>
    </header>
    <!-- End Of Page Header -->

    <!-- Service Section -->
    <section id="service" class="pattern-style-4">
        <div class="container">
            <h6 class="section-subtitle text-center">Featured Food</h6>
            <h3 class="section-title mb-6 pb-3 text-center">Premium and Classic Pizzas</h3>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <a class="custom-list">
                        <div class="img-holder">
                            <img src="https://i.ibb.co/0BfXBp8/Chicken-Bali.jpg">
                        </div>
                        <div class="info">
                            <div class="head clearfix">
                                <h5 class="title float-left">Chicken Bali</h5>
                                <p class="float-right text-primary">N3,900</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mb-4">
                    <a class="custom-list">
                        <div class="img-holder">
                            <img src="https://i.ibb.co/DChrcbt/Extravaganza.jpg">
                        </div>
                        <div class="info">
                            <div class="head clearfix">
                                <h5 class="title float-left">Extravaganza</h5>
                                <p class="float-right text-primary">N3,900</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mb-4">
                    <a class="custom-list">
                        <div class="img-holder">
                            <img src="https://i.ibb.co/6nn7P83/BBQ-Mega-Meat.jpg">
                        </div>
                        <div class="info">
                            <div class="head clearfix">
                                <h5 class="title float-left">BBQ Mega Meat</h5>
                                <p class="float-right text-primary">N3,900</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mb-4">
                    <a class="custom-list">
                        <div class="img-holder">
                            <img src="https://i.ibb.co/mF5x4cD/Deluxe.jpg">
                        </div>
                        <div class="info">
                            <div class="head clearfix">
                                <h5 class="title float-left">Deluxe</h5>
                                <p class="float-right text-primary">N3,500</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mb-4">
                    <a class="custom-list">
                        <div class="img-holder">
                            <img src="https://i.ibb.co/XCFKKTt/Meatzza.jpg">
                        </div>
                        <div class="info">
                            <div class="head clearfix">
                                <h5 class="title float-left">Meatzza</h5>
                                <p class="float-right text-primary">N3,500</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mb-4">
                    <a class="custom-list">
                        <div class="img-holder">
                            <img src="https://i.ibb.co/2jnNRkB/Shawarma-Pizza.jpg">
                        </div>
                        <div class="info">
                            <div class="head clearfix">
                                <h5 class="title float-left">Shawarma Pizza</h5>
                                <p class="float-right text-primary">N3,500</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Featured Food Section -->

    <!-- Menu Section -->
    <section class="has-img-bg">
        <div class="container">
            <h6 class="section-subtitle text-center">Great Food</h6>
            <h3 class="section-title mb-6 text-center">Main Menu</h3>
            <div class="card bg-light">
                <div class="card-body px-4 pb-4 text-center">
                    <div class="row text-left">
                        <div class="col-md-6 my-4">
                            <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        Pepperoni Supreme
                                        <p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                    <h6 class="float-right text-primary">N3,200</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 my-4">
                            <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        Veggie Supreme
                                        <p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                    <h6 class="float-right text-primary">N3,200</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 my-4">
                            <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        BBQ Beef
                                        <p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                    <h6 class="float-right text-primary">N3,200</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 my-4">
                            <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        Chicken Supreme
                                        <p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                    <h6 class="float-right text-primary">N3,200</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 my-4">
                            <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        Chicken Suya
                                        <p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                    <h6 class="float-right text-primary">N3,500</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 my-4">
                            <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        Half & Half
                                        <p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                    <h6 class="float-right text-primary">N2,900</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a href="/chat" class="btn btn-primary mt-4">Chat with us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Menu Section -->


    <!-- Testmonial Section -->
    <section id="testmonial" class="pattern-style-3">
        <div class="container">
            <h6 class="section-subtitle text-center">Best Clients</h6>
            <h3 class="section-title mb-5 text-center">Testimonials</h3>

            <div class="row">
                <div class="col-md-4 my-3 my-md-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center mb-3">
                                <img class="mr-3" src="assets/imgs/avatar.jpg">
                                <div class="media-body">
                                    <h6 class="mt-1 mb-0">John Doe</h6>
                                    <small class="text-muted mb-0">Full Stack Engineer</small>
                                </div>
                            </div>
                            <p class="mb-0">Uh! The taste is truly hard to describe. Very sweet. I can't wait for a physical structure now</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3 my-md-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center mb-3">
                                <img class="mr-3" src="assets/imgs/avatar-1.jpg">
                                <div class="media-body">
                                    <h6 class="mt-1 mb-0">Maria Garcia</h6>
                                    <small class="text-muted mb-0">Real Estate Agent</small>
                                </div>
                            </div>
                            <p class="mb-0">This has got to be the most yummy pizza i've ever eaten. I can't do without it in a day</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3 my-md-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center mb-3">
                                <img class="mr-3" src="assets/imgs/avatar-2.jpg">
                                <div class="media-body">
                                    <h6 class="mt-1 mb-0">Foo Bar</h6>
                                    <small class="text-muted mb-0">Residential Appraiser</small>
                                </div>
                            </div>
                            <p class="mb-0">Ohh! What is Domino's. I'm going to be ordering everyday from Enigma now.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Testmonial Section -->

    <!-- Prefooter Section  -->
    <div class="py-4 border border-lighter border-bottom-0 border-left-0 border-right-0 bg-dark">
        <div class="container">
            <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-3 text-md-left mb-3 mb-md-0">
                    <img src="assets/imgs/navbar-brand.png" width="100" class="mb-0">
                </div>
                <div class="col-md-9 text-md-right">
                    <a href="#https://www.linkedin.com/in/oloyede-emmanuel/" class="px-3"><small class="font-weight-bold">LinkedIn</small></a>
                    <a href="https://twitter.com/iTechEmmy" class="px-3"><small class="font-weight-bold">Twitter</small></a>
                    <a href="https://www.youtube.com/@techemmy" class="px-3"><small class="font-weight-bold">YouTube</small></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of PreFooter Section -->

    <!-- Page Footer -->
    <footer class="border border-dark border-left-0 border-right-0 border-bottom-0 p-4 bg-dark">
        <div class="container">
            <div class="row align-items-center text-center text-md-center">
                <div class="col">
                    <p class="mb-0 small">&copy; <script>document.write(new Date().getFullYear())</script>, All rights reserved </p>
                </div>
            </div>
        </div>

    </footer>

</body>
<%- include('./partials/footer') %>
</html>